.register-container {
  width: 300px;
  margin: 60px auto;
}

input,
button {
  width: 100%;
  margin: 6px 0;
  padding: 6px;
}

.auth-link {
  margin-top: 10px;
  font-size: 14px;
}

.auth-link a {
  text-decoration: none;
  color: #007bff;
}